/*Товары*/
.section__goods{
	position: relative;
	background-color: #e8e8e8;
	@include clearfix;
}

.btn__wrapper{
	background-color: #e8e8e8;
}

h2.products__title{
	font-size: 40px;
	color: #000;
	text-align: center;
	font-weight: 600;
	margin: 50px 0;
}
.goods__item {
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 40px;
    position: relative;
	&:hover{
		box-shadow: 4px 0px 20px rgba(0,0,0,.2);
		//cursor:pointer;
	}
}

.goods__item.goods__item__promocode{
	min-height: 460px;
}

.goods__wrap__img{
	margin-bottom: 10px;
}

.goods__item.goods__item__promocode .goods__wrap__price .price__block{
	//margin-top: 10px;
}

.goods__item.goods__item__promocode .goods__link{
	position: absolute;
	bottom: 0;
}

.promocode{
	width: 75%;
	background: #222221;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	margin-left: 14px;
	padding: 4px 14px !important;
	span{
		font-size: 14px;
		font-weight: 900;
	}
}

.goods__sale{
	color: #fff;
  font-size: 12px;
	font-weight: 300;
  background: #94c11f;
	text-align: center;
  width: 60px;
  height: 60px;
	border-radius: 50%;
  position: absolute;
  z-index: 10000;
  right: 25px;
  top: 135px;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
	color: #fff;
	padding: 0 !important;
	span{
		font-size: 14px;
		position: absolute;
    top: 16px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    display: block;
	}
}

	.goods__item > div{
		padding: 0px 20px;
	}

	.goods__wrap__price{
		margin-bottom: 10px;
	}

	.goods__wrap__name {
    	height: 70px;
	}

	.price__block{
		@include clearfix;
		//margin-top: 10px;
	}

	.goods__picture{
		// padding-top: 20px;
		display: block;
		margin: 0 auto;
		&:hover{
			cursor: pointer;
		}
	}

	.goods__picture__wrap{
		width: 300px;
		height: 250px;
	}

	.goods__vendor{
		font-size: 10px;
		color: #808080;
	}

	.goods__name{
		font-size: 14px;
		color: #010101;
		text-align: left;
		@include MQ(xs){
			font-size: 16px;
		}
		&__link{
			display: block;
			padding: 0 20px;
		}
	}

	.goods__retail, .goods__start{
		font-size: 14px;
		color: #000;
		float: left;
	}

	.goods__retail{
		margin-top: 0px;
		font-weight: bold;
	}

	.goods__start{
		margin-top: 8px;
		color: #eb3706;
		font-weight: bold;
	}


	.goods__retail__price{
		font-size: 14px;
		color: #acacac;
		float: left;
		margin-left: 37px;
		margin-top: 21px;
		position: relative;
		@include MQ(lg){
			margin-left: 0;
		}
		&:after{
			content: "";
			display: block;
			height: 1px;
			width: 100%;
			background-color: #808080;
			transform: rotate(-3deg);
			position: absolute;
			top: 8px;
			left: 0px;
		}
	}

	.goods__price__retail{
		font-size: 16px;
		color: #010101;
		float: right;
	}

	.goods__price__start{
		font-size: 22px;
		color: #010101;
		font-weight: 700;
		float: right;
	}

	.goods__start__price{
		font-size: 32px;
		color: #25232a;
		font-weight: 900;
		float: right;
	}

	.goods__link{
		text-align: center;
		text-decoration: none;
		font-size: em(16);
		color: #fff !important;
		display: block;
		background: #ec3e0f;
		padding: 10px;
		width: 100%;
		box-sizing: border-box;
		&:hover{
			color: #ed5923 !important;
			background: #000;
			cursor: pointer;
		}
	}

.good__wrapper{
	position: relative;
	@include clearfix;
}

.goods__start__price__text{
	color: #da2126;
	font-size: 14px;
	line-height: 4px;
	text-transform: uppercase;
}