doctype
html(lang="ru_RU")
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, minimal-ui')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='imagetoolbar' content='no')
		meta(name='msthemecompatible' content='no')
		meta(name='cleartype' content='on')
		meta(name='HandheldFriendly' content='True')
		meta(name='google' value='notranslate')
		//- meta(name='description' content='Рассрочка в Юлмарт от 6 месяцев! Оформление онлайн. Получите решение банка за 1 час, не выходя из дома.')
		//- meta(name='description' content='Телевизоры в рассрочку в интернет-магазине Юлмарт. Купить ТВ в рассрочку без переплат по низким ценам.')
		meta(name='description' content='Стиральная машина в рассрочку в Юлмарт. Купить стиральную машину в рассрочку по низким ценам.')
		//- meta(name='description' content='Велосипед в рассрочку в Юлмарт. Купить велосипед в рассрочку по низким ценам.')
		//- meta(name='description' content='Игровой компьютер в рассрочку в Юлмарт. Купить ПК в рассрочку по низким ценам.')
		meta(name='keywords' content='')

		link(rel='shortcut icon' type='image/png' href='https://fast.ulmart.ru/ns/verstka/installment_promo/img/favicon.ico')
		link(rel='stylesheet' type='text/css' href='https://fast.ulmart.ru/ns/verstka/installment_promo/css/style.css' media='screen, projection, print')
		link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&amp;subset=cyrillic" rel="stylesheet")
		

		block title
			//- title Рассрочка без переплат 2017! Купить телефон и ноутбук в рассрочку в Юлмарт
			//- title Купить телевизор в рассрочку без переплат
			title Купить стиральную машину автомат в рассрочку
			//- title Купить велосипед в рассрочку 2017
			//- title Купить компьютер в рассрочку
			
		// Google Tag Manager
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-B5CM');
		// End Google Tag Manager
			
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-B5CM', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)
