include blocks/head-service/head
include common/mixins.jade

body
	.layout_center_wrapper-project
		+top-line()
		+top-banner()
		//- section.issue__section
			.container
				.row
					h2.issue__title
						|Оформить рассрочку
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.issue__item
							.issue__item__img
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/issue1.png", alt="оформление")
							.issue__item__title
								|удобно
							.issue__item__text
								|Введите промокод&nbsp;
								span 006
								br
								|&nbsp;на этапе оформления заказа
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.issue__item
							.issue__item__img
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/issue2.png", alt="оформление")
							.issue__item__title
								|быстро
							.issue__item__text
								|Узнаёте о решение банка 
								br
								|уже в течение 1&nbsp;часа 
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.issue__item
							.issue__item__img
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/issue3.png", alt="оформление")
							.issue__item__title
								|выгодно
							.issue__item__text
								|Рассрочка на 6&nbsp;месяцев 
								br
								|без процентов и переплат
		section.make__section
			h2.make__title
				|Как купить товар по акции 
			.tabbed
				.container
					.row
						.col-lg-2.col-lg-offset-4.col-md-5.col-md-offset-1.col-sm-6.col-xs-12.np
							.tabbed__wrap
								input#tab-nav-1(type='radio', name='tabs')
								label(for='tab-nav-1') ОФЛАЙН
						.col-lg-2.col-md-5.col-sm-6.col-xs-12.np
							.tabbed__wrap
								input#tab-nav-2(type='radio', name='tabs', checked='')
								label(for='tab-nav-2') ОНЛАЙН
							
		.tabs__wrapper.tabs__wrapper__online
			.container
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item--mod
							.tabs__item__img
								|1
							.tabs__item__text
								b Выберите товар со значком
								br
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/credit-bablze.png", alt="")
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item--mod
							.tabs__item__img
								|2
							.tabs__item__text
								b Выберите «Самовывоз»
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item
							.tabs__item__img
								|3
							.tabs__item__text
								b Введите промокод 
								span 006&nbsp;
								br
								|на этапе подтверждения заказа и дождитесь звонка банка для заполнения анкеты по телефону.
				.text__info
					|Проверьте, пожалуйста, актуальность телефона, указанного 
					br
					|в 
					a(href="https://www.ulmart.ru/login", target="_blank", class="text__info--link") личном кабинете
					|, иначе мы не сможем с вами связаться.
				.row
					.col-lg-3.col-lg-offset-3.col-md-6.col-sm-6.col-xs-12.nm
						a(href="https://fast.ulmart.ru/ns/verstka/rassrochka/full_terms.pdf", target="_blank", class="btn__full") Полные условия акции
					.col-lg-3.col-md-6.col-sm-6.col-xs-12.nm
						a(href="#", target="_blank", class="btn__back", id="#go-back") Вернуться к заказу
			.screen
				span x
		.tabs__wrapper.tabs__wrapper__offline
			.container
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item--mod
							.tabs__item__img
								|1
							.tabs__item__text
								b Оформите заказ на товар, отмеченный значком 
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/credit-bablze.png", alt="")
								br
								|и распечатайте чек на оплату.
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item--mod
							.tabs__item__img
								|2
							.tabs__item__text
								b Подайте заявку в кредитном отделе 
								br
								|(подать заявку можно в кредитном отделе центра исполнения заказов Юлмарт (ЦИЗ), при себе необходимо иметь паспорт).
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item
							.tabs__item__img
								|3
							.tabs__item__text
								b Забирайте покупку.
				.row
					.row
					.col-lg-3.col-lg-offset-3.col-md-6.col-sm-6.col-xs-12
						a(href="https://fast.ulmart.ru/ns/verstka/rassrochka/full_terms.pdf", target="_blank", class="btn__full") Полные условия акции
					.col-lg-3.col-md-6.col-sm-6.col-xs-12
						a(href="#", target="_blank", class="btn__back", id="#go-back") Вернуться к заказу
		//- .btn__wrapper
		//- 	.container
		//- 		.row
		//- 			.col-lg-2
		//- 			.col-lg-4.col-md-6.col-sm-6.col-xs-12
		//- 				a(href="https://fast.ulmart.ru/ns/verstka/rassrochka/full_terms.pdf", target="_blank", class="btn__full") Полные условия акции
		//- 			.col-lg-4.col-md-6.col-sm-6.col-xs-12
		//- 				a(href="#", target="_blank", class="btn__back", id="#go-back") Вернуться к заказу
		//- 			.col-lg-2
		section.section__goods
			.container
				.row
					h2.products__title
						|Лучшие товары акции 
					+grid-4()
						each item, number in dataMain.slice(0,1)
							+goods-main(item)
					+grid-4()
						each item, number in dataMain.slice(1,2)
							+goods-main(item)
					+grid-4()
						each item, number in dataMain.slice(2,3)
							+goods-main(item)
					+grid-4()
						each item, number in dataMain.slice(3,4)
							+goods-main(item)
					+grid-4()
						each item, number in dataMain.slice(4,5)
							+goods-main(item)
					+grid-4()
						each item, number in dataMain.slice(5,6)
							+goods-main(item)
					+grid-4()
						each item, number in dataMain.slice(6,7)
							+goods-main(item)
		.btn__wrapper
			.container
				.row
					.col-lg-2
					.col-lg-4.col-md-6.col-sm-6.col-xs-12
						a(href="http://www.ulmart.ru/Kredit_006", target="_blank", class="btn__full") Посмотреть все товары
					.col-lg-4.col-md-6.col-sm-6.col-xs-12
						a(href="#", target="_blank", class="btn__back", id="go-back2") Вернуться к заказу
					.col-lg-2
				.row
					.hidden-wrap__btn Подробнее
		
		section.info
			.container
				.row
					.info-text
						|Мы знаем, как это бывает: иногда желание приобрести новый телефон или купить в квартиру новую технику приходит раньше, чем зарплата. Не берите дорогущие кредиты в магазинах электроники, ведь Юлмарт уже приготовил для вас новую акцию: покупателям с большими планами мы предоставляем технику и электронику в рассрочку без процентов и переплат!
					.info-title
						|Вы можете оформить беспроцентную рассрочку на технику в следующих категориях:
					ol.info-list
						li.info-item смартфоны,
						li.info-item ноутбуки,
						li.info-item холодильники,
						li.info-item телевизоры,
						li.info-item стиральные машины 
						p.info-item-text и многие другие товары.
					.info-text
						|Купить товар в рассрочку на 
						a(href="https://www.ulmart.ru/", target="_blank", class="info-text__link") ulmart.ru
						|  легко: вы можете оформить договор с банком как онлайн, так и в любом центре исполнения заказов. Мы предоставляем более выгодные условия, чем большинство магазинов техники: 6 месяцев без переплат, процентов и первого взноса. Полный список товаров, которые вы можете взять в рассрочку, смотрите на 
						a(href="https://www.ulmart.ru/", target="_blank", class="info-text__link") ulmart.ru
						|.
					.info-text
						|Удачных покупок!
				.info-btn-wrapper
					.row
						.col-lg-3.col-md-3.col-sm-6.col-xs-12
							a(href="https://www.ulmart.ru/dynamic/page/rassrochka-komputery", target="_blank", class="info-link") Компьютер в рассрочку
						//- .col-lg-3.col-md-3.col-sm-6.col-xs-12
						//- 	a(href="https://www.ulmart.ru/dynamic/page/rassrochka-stiralnye-mashiny", target="_blank", class="info-link") Стиральная машина в рассрочку
						//- .col-lg-3.col-md-3.col-sm-6.col-xs-12
						//- 	a(href="https://www.ulmart.ru/dynamic/page/rassrochka-velosipedy", target="_blank", class="info-link") Велосипед в рассрочку
						.col-lg-3.col-md-3.col-sm-6.col-xs-12
							a(href="https://www.ulmart.ru/dynamic/page/rassrochka-pylesosy", target="_blank", class="info-link") Пылесос в рассрочку

						.col-lg-3.col-md-3.col-sm-6.col-xs-12
							a(href="https://www.ulmart.ru/dynamic/page/rassrochka-holodilniki", target="_blank", class="info-link") Холодильник в рассрочку


		
			
	+footer-text()


include blocks/footer-service/footer-service
