include blocks/head-service/head
include common/mixins.jade

body#body-iphone
	.layout_center_wrapper-project.layout_center_wrapper-project-iphone
		header.header-iphone
			.top__line
				.container
					.row
						a(class="ulmart__logo ulmart__shop-iphone" href="https://www.ulmart.ru/", target="_blank")
							img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/ulmart-logo-iphone-page.png", alt="logo")
						a(class="ulmart__shop ulmart__shop-iphone" target="_blank")
							img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/appleauthorizedreseller.png", alt="")
			section.top__banner.top__banner-iphone
				.container
					.row
						.title-block.title-block-iphone
							img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/top-banner-iphone.png", alt="banner", class="banner-credit-iphone")
		section.make__section
			h1.make__title.make__title-iphone
				|Как купить iPhone 8 и iPhone 8 Plus
				br
				|по акции «Кредит без переплат»
			.tabbed
				.container
					.row
						.col-lg-2.col-lg-offset-4.col-md-5.col-md-offset-1.col-sm-6.col-xs-12.np
							.tabbed__wrap.tabbed__wrap-iphone.tabbed__wrap-iphone__left
								input#tab-nav-1(type='radio', name='tabs')
								label(for='tab-nav-1') Офлайн
						.col-lg-2.col-md-5.col-sm-6.col-xs-12.np
							.tabbed__wrap.tabbed__wrap-iphone.tabbed__wrap-iphone__right
								input#tab-nav-2(type='radio', name='tabs', checked='')
								label(for='tab-nav-2') Онлайн
							
		.tabs__wrapper.tabs__wrapper__online
			.container
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item-iphone
							.tabs__item__img.tabs__item__img-iphone
								|1
							.tabs__item__text.tabs__item__text-iphone
								span Выберите товар, отмеченный спецаильным значком.
								br
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/bablze-iphone.png", alt="")
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item-iphone
							.tabs__item__img.tabs__item__img-iphone
								|2
							.tabs__item__text.tabs__item__text-iphone
								span Укажите способ получения «Самовывоз».
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item
							.tabs__item__img.tabs__item__img-iphone
								|3
							.tabs__item__text.tabs__item__text-iphone
								span Выберите «Купить в кредит»
								br
								|Заполните заявку on-line или дождитесь звонка банка для заполнения анкеты по телефону.
				.text__info.text__info-iphone
					|Проверьте, пожалуйста, актуальность телефона, указанного 
					br
					|в 
					a(href="https://www.ulmart.ru/login", target="_blank", class="text__info--link text__info--link-iphone") личном кабинете
					|, иначе мы не сможем с вами связаться.
				.row
					.col-lg-3.col-lg-offset-3.col-md-6.col-sm-6.col-xs-12.nm
						a(href="https://www.ulmart.ru/special_offers/current/Credit_bez_pereplat_0_0_12_iPhone", target="_blank", class="btn__full btn-iphone-border") Полные условия акции
					.col-lg-3.col-md-6.col-sm-6.col-xs-12.nm
						a(href="https://www.ulmart.ru/IPhone_8_8Plus?sort=5&rec=false", target="_blank", class="btn__full btn__back-iphone btn-iphone-noborder") Все товары акции
			.screen
				span x
		.tabs__wrapper.tabs__wrapper__offline
			.container
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item-iphone
							.tabs__item__img.tabs__item__img-iphone
								|1
							.tabs__item__text.tabs__item__text-iphone
								span Выберите товар, отмеченный специальным значком и распечатайте чек на оплату.
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/bablze-iphone.png", alt="")
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item-iphone
							.tabs__item__img.tabs__item__img-iphone
								|2
							.tabs__item__text.tabs__item__text-iphone
								span Подайте заявку в кредитном отделе 
								br
								|Подать заявку можно в кредитном отделе центра исполнения заказов Юлмарт (ЦИЗ), при себе необходимо иметь паспорт.
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item
							.tabs__item__img.tabs__item__img-iphone
								|3
							.tabs__item__text.tabs__item__text-iphone
								span Забирайте покупку.
				.row
					.row
					.col-lg-3.col-lg-offset-3.col-md-6.col-sm-6.col-xs-12
						a(href="https://www.ulmart.ru/special_offers/current/Credit_bez_pereplat_0_0_12_iPhone", target="_blank", class="btn__full btn-iphone-border") Полные условия акции
					.col-lg-3.col-md-6.col-sm-6.col-xs-12.nm
						a(href="https://www.ulmart.ru/IPhone_8_8Plus?sort=5&rec=false", target="_blank", class="btn__full btn__back-iphone btn-iphone-noborder") Все товары акции
		//- .btn__wrapper
		//- 	.container
		//- 		.row
		//- 			.col-lg-2
		//- 			.col-lg-4.col-md-6.col-sm-6.col-xs-12
		//- 				a(href="https://fast.ulmart.ru/ns/verstka/rassrochka/full_terms.pdf", target="_blank", class="btn__full") Полные условия акции
		//- 			.col-lg-4.col-md-6.col-sm-6.col-xs-12
		//- 				a(href="#", target="_blank", class="btn__back", id="#go-back") Вернуться к заказу
		//- 			.col-lg-2
		section.section__goods.section__goods-iphone
			.container
				.row
					h2.products__title.products__title-iphone
						|Лучшие смартфоны Apple по акции
					+grid-4()
						each item, number in dataIphone.slice(0,1)
							+goods-iphone(item)
					+grid-4()
						each item, number in dataIphone.slice(1,2)
							+goods-iphone(item)
					+grid-4()
						each item, number in dataIphone.slice(2,3)
							+goods-iphone(item)
					+grid-4()
						each item, number in dataIphone.slice(3,4)
							+goods-iphone(item)
					+grid-4()
						each item, number in dataIphone.slice(4,5)
							+goods-iphone(item)
					+grid-4()
						each item, number in dataIphone.slice(5,6)
							+goods-iphone(item)
					+grid-4()
						each item, number in dataIphone.slice(6,7)
							+goods-iphone(item)
		.btn__wrapper.btn__wrapper-iphone
			.container
				.row
					.col-lg-3.col-lg-offset-3.col-md-6.col-sm-6.col-xs-12.nm
						a(href="#", class="btn__full btn-iphone-border", id="go-back2") Вернуться назад
					.col-lg-3.col-md-6.col-sm-6.col-xs-12.nm
						a(href="https://www.ulmart.ru/IPhone_8_8Plus?sort=5&rec=false", target="_blank", class="btn__full btn__back-iphone btn-iphone-noborder") Все товары акции
				.row
					.info-text
						|iPhone 8 и iPhone 8 Plus. Новое поколение iPhone. Передняя и задняя панели выполнены из самого прочного стекла, когда-либо созданного для iPhone, а рамка — из алюминия, применяемого в аэрокосмической отрасли. iPhone 8 и iPhone 8 Plus заряжаются без проводов.
						sup 1 
						| Защищены от воды и пыли.
						sup 2 
						|Оснащены дисплеями Retina HD 4,7 дюйма и 5,5 дюйма с технологией True Tone.
						sup 3 
						|И камерами 12 Мп с новой матрицей и передовым процессором обработки сигнала. На iPhone 8 Plus c двойной камерой 12 Мп улучшен режим «Портрет», в котором появилась новая функция портретного освещения.
						sup 4 
						|Всё это работает на A11 Bionic — самом мощном и умном процессоре iPhone. И ещё iPhone 8 и iPhone 8 Plus поддерживают дополненную реальность в играх и приложениях. iPhone 8 и iPhone 8 Plus — никогда ещё интеллект не был в такой прекрасной форме. 

						

		//- section.info.info-iphone
		//- 	.container
		//- 		.row
		//- 			.info-text
		//- 				|У рассрочки есть много плюсов:
		//- 			ol.info-list.info-list-samsung
		//- 				li.info-item поскольку подобная техника быстро устаревает, накопить на её покупку просто невозможно;
		//- 				li.info-item вы не платите все деньги сразу, чтобы купить iPhone 8 в рассрочку;
		//- 				li.info-item можно сразу получить новый телефон;
		//- 				li.info-item ежемесячные платежи не сильно бьют по карману.

		//- 			.info-title
		//- 				|Где купить iPhone 8 в рассрочку
		//- 			.info-text
		//- 				|Практически все российские магазины смартфонов предлагают iPhone 8, как и iPhone 8 Plus, купить в рассрочку (кроме официального интернет-магазина Apple в России). В основном все продавцы предлагают рассрочку или кредит сроком от нескольких месяцев до двух лет, а ещё различные скидки и возможность погасить часть стоимости бонусами или баллами дисконтных или кредитных карт.
		//- 			.info-text
		//- 				|Выбирая интернет-магазин, чтобы купить iPhone 8 или iPhone 8 Plus в рассрочку, обращайте внимание не только на низкие цены, но и на виды и сроки доставки. От этого будет зависеть, как быстро вы получите свою покупку и сможете самостоятельно оценить двойную камеру на 12 Мп и 5,5-дюймовый дисплей Retina HD с технологией True Tone. 
		//- 			.info-title
		//- 				|Как купить в рассрочку iPhone 8
		//- 			.info-text
		//- 				|Прежде чем договариваться о сделке, изучите информацию о банке, предоставляющем кредит. Например, купить iPhone 8 в Москве в рассрочку можно у нас в магазине. Мы предоставим льготные условия тем, кто совершит покупку в интернет-магазине Юлмарт.
		//- 			.info-text
		//- 				|Собираясь купить iPhone 8 Plus в рассрочку в Санкт-Петербурге или другом городе России через интернет, будьте особенно осторожны. Не пользуйтесь незащищёнными соединениями, непроверенными сайтами и интернет-магазинами. Лучше всего для заключения подобных сделок обращаться к проверенным продавцам.




		//- .hidden-wrap.hidden-wrap-iphone
		//- 	.container
		//- 		.row
		//- 			.hidden-wrap__btn.hidden-wrap__btn-iphone Показать ещё


	footer.footer.footer-iphone
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.footer__block-iphone
						.footer__text-iphone
							sup 1
							|Станция беспроводной зарядки продаётся отдельно. 
							br
							sup 2
							|iPhone 8 и iPhone 8 Plus протестированы в специально поддерживаемых лабораторных условиях по стандарту IEC 60529. Степень их защиты от брызг, воды и пыли соответствует индексу IP67. Устойчивость к воздействию брызг, воды и пыли не является постоянным условием и может снижаться при естественном износе. Не пытайтесь зарядить мокрый iPhone. Протрите и высушите его согласно инструкциям в руководстве пользователя. Повреждение в результате контакта с жидкостью не покрывается гарантией. 
							br
							sup 3
							|Размер дисплея определяется по диагонали. 
							br
							sup 4
							|Функция портретного освещения доступна в бета-версии.
							br
							|Подробная информация об организаторе и условиях акции, об адресах ЦИЗов и графике работ кредитных отделов на сайте – 
							a(href="https://www.ulmart.ru/", target="_blank") ulmаrt.ru
							|. 
							br
							|Акция действует при оформлении кредита с 01.11.2017 г. по 30.11.2017 г. Кредит предоставляется банками-партнёрами: АО «ОТП Банк», АО «Альфа-Банк», ООО «Хоум Кредит энд Финанс Банк», АО «Банк Русский Стандарт», КБ «Ренессанс Кредит» (ООО), ПАО «Почта Банк». АО «ОТП Банк», Генеральная лицензия № 2766 Банка России от 27.11.2014 г. Первоначальный взнос 0% от цены товара, срок кредитования 12 месяцев. Процентная ставка 23% годовых, полная стоимость кредита составляет 23,3% годовых, сумма кредита от 2 000 до 300 000 руб. АО «Альфа-Банк», лицензия № 1326 Банка России от 05.03.2012 г. (бессрочная). Первоначальный взнос 0% от цены товара, срок кредитования 12 месяцев. Процентная ставка 22,3% годовых, полная стоимость кредита составляет 22,3% годовых, сумма кредита от 10 000 до 300 000 руб. ООО «Хоум Кредит энд Финанс Банк», лицензия № 316 Банка России от 15.03.2012 г. ОГРН 1027700280937. Первоначальный взнос 0% от цены товара, срок кредитования 12 месяцев. Процентная ставка 23,3% годовых, полная стоимость кредита составляет 23,3% годовых, сумма кредита от 2 000 до 200 000 руб. АО «Банк Русский Стандарт», лицензия № 2289 Банка России от 19.11.2014 г. Первоначальный взнос 0% от цены товара, срок кредитования 12 месяцев. Процентная ставка 19,90% годовых, полная стоимость кредита составляет 19,0% годовых, сумма кредита от 3 000 до 200 000 руб. КБ «Ренессанс Кредит» (ООО), лицензия № 3354 Банка России от 19.11.2014 г. Первоначальный взнос 0% от цены товара, срок кредитования 12 месяцев. Процентная ставка 17,78% годовых, полная стоимость кредита составляет 17,78% годовых, сумма кредита от 3 000 до 250 000 руб. ПАО «Почта Банк», лицензия № 650 Банка России от 25.03.2016 г. Первоначальный взнос 0-10% от цены товара, срок кредитования 6,7,8,10,12 месяцев. Процентная ставка 7-57,79% годовых, полная стоимость кредита составляет 7-57,79% годовых, сумма кредита от 3 000 до 300 000 руб. Организатор акции предоставляет скидку на товар, в итоге сумма, подлежащая выплате банку, не превышает первоначальной стоимости товара, при условии, что дополнительные услуги банков не приобретаются. Не является публичной офертой. Банки самостоятельно принимают решение о предоставлении либо отказе в предоставлении кредита без объяснения причин. Подробности приобретения товаров в кредит в рамках акции уточняйте у сотрудников банка. Цены, в т.ч. размер скидок, указаны в рублях с учетом НДС на 02.11.2017 г. для зарегистрированных пользователей. Количество товара ограниченно. Приведённое изображение может отличаться от внешнего вида товара в центрах исполнения заказов. Существенная информация — у консультантов в центрах исполнения заказов Юлмарт и на сайте 
							a(href="https://www.ulmart.ru/", target="_blank") ulmаrt.ru
							|. 
							|ООО «Юлмарт РСК», 197227, Санкт-Петербург, пр. Сизова, д. 2, лит. А, ОГРН 1117847607900.


include blocks/footer-service/footer-service
