include blocks/head-service/head
include common/mixins.jade

body
	.layout_center_wrapper-project
		+top-line()
		+top-banner()
		//- section.issue__section
			.container
				.row
					h2.issue__title
						|Оформить рассрочку
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.issue__item
							.issue__item__img
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/issue1.png", alt="оформление")
							.issue__item__title
								|удобно
							.issue__item__text
								|Введите промокод&nbsp;
								span 006
								br
								|&nbsp;на этапе оформления заказа
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.issue__item
							.issue__item__img
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/issue2.png", alt="оформление")
							.issue__item__title
								|быстро
							.issue__item__text
								|Узнаёте о решение банка 
								br
								|уже в течение 1&nbsp;часа 
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.issue__item
							.issue__item__img
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/issue3.png", alt="оформление")
							.issue__item__title
								|выгодно
							.issue__item__text
								|Рассрочка на 6&nbsp;месяцев 
								br
								|без процентов и переплат
		section.make__section
			h2.make__title
				|Как купить холодильник в рассрочку
			.tabbed
				.container
					.row
						.col-lg-2.col-lg-offset-4.col-md-5.col-md-offset-1.col-sm-6.col-xs-12.np
							.tabbed__wrap
								input#tab-nav-1(type='radio', name='tabs')
								label(for='tab-nav-1') ОФФЛАЙН
						.col-lg-2.col-md-5.col-sm-6.col-xs-12.np
							.tabbed__wrap
								input#tab-nav-2(type='radio', name='tabs', checked='')
								label(for='tab-nav-2') ОНЛАЙН
							
		.tabs__wrapper.tabs__wrapper__online
			.container
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item--mod
							.tabs__item__img
								|1
							.tabs__item__text
								b Выберите холодильник со значком рассрочки
								br
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/credit-bablze.png", alt="")
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item--mod
							.tabs__item__img
								|2
							.tabs__item__text
								b Выберите «Самовывоз»
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item
							.tabs__item__img
								|3
							.tabs__item__text
								b Введите промокод 
								span 006&nbsp;
								br
								|на этапе подтверждения заказа и дождитесь звонка банка для заполнения анкеты по телефону.
				.text__info
					|Проверьте, пожалуйста, актуальность телефона, указанного 
					br
					|в личном кабинете, иначе мы не сможем с вами связаться.
				.row
					.col-lg-3.col-lg-offset-3.col-md-6.col-sm-6.col-xs-12.nm
						a(href="https://fast.ulmart.ru/ns/verstka/rassrochka/full_terms.pdf", target="_blank", class="btn__full") Полные условия акции
					.col-lg-3.col-md-6.col-sm-6.col-xs-12.nm
						a(href="#", target="_blank", class="btn__back", id="#go-back") Вернуться к заказу
			.screen
				span x
		.tabs__wrapper.tabs__wrapper__offline
			.container
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item--mod
							.tabs__item__img
								|1
							.tabs__item__text
								b Оформите заказ на товар, отмеченный значком 
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/credit-bablze.png", alt="")
								br
								|и распечатайте чек на оплату.
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item--mod
							.tabs__item__img
								|2
							.tabs__item__text
								b Подайте заявку в кредитном отделе 
								br
								|(подать заявку можно в кредитном отделе центра исполнения заказов Юлмарт (ЦИЗ), при себе необходимо иметь паспорт).
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item
							.tabs__item__img
								|3
							.tabs__item__text
								b Забирайте покупку.
				.row
					.row
					.col-lg-3.col-lg-offset-3.col-md-6.col-sm-6.col-xs-12
						a(href="https://fast.ulmart.ru/ns/verstka/rassrochka/full_terms.pdf", target="_blank", class="btn__full") Полные условия акции
					.col-lg-3.col-md-6.col-sm-6.col-xs-12
						a(href="#", target="_blank", class="btn__back", id="#go-back") Вернуться к заказу
		//- .btn__wrapper
		//- 	.container
		//- 		.row
		//- 			.col-lg-2
		//- 			.col-lg-4.col-md-6.col-sm-6.col-xs-12
		//- 				a(href="https://fast.ulmart.ru/ns/verstka/rassrochka/full_terms.pdf", target="_blank", class="btn__full") Полные условия акции
		//- 			.col-lg-4.col-md-6.col-sm-6.col-xs-12
		//- 				a(href="#", target="_blank", class="btn__back", id="#go-back") Вернуться к заказу
		//- 			.col-lg-2
		section.section__goods
			.container
				.row
					h2.products__title
						|Лучшие модели холодильников в рассрочку
					+grid-4()
						each item, number in dataHolodilniki.slice(0,1)
							+goods-holodilniki(item)
					+grid-4()
						each item, number in dataHolodilniki.slice(1,2)
							+goods-holodilniki(item)
					+grid-4()
						each item, number in dataHolodilniki.slice(2,3)
							+goods-holodilniki(item)
					+grid-4()
						each item, number in dataHolodilniki.slice(3,4)
							+goods-holodilniki(item)
					+grid-4()
						each item, number in dataHolodilniki.slice(4,5)
							+goods-holodilniki(item)
					+grid-4()
						each item, number in dataHolodilniki.slice(5,6)
							+goods-holodilniki(item)
					+grid-4()
						each item, number in dataHolodilniki.slice(6,7)
							+goods-holodilniki(item)
		.btn__wrapper
			.container
				.row
					.col-lg-2
					.col-lg-4.col-md-6.col-sm-6.col-xs-12
						a(href="http://www.ulmart.ru/Kredit_006", target="_blank", class="btn__full") Посмотреть все товары
					.col-lg-4.col-md-6.col-sm-6.col-xs-12
						a(href="#", target="_blank", class="btn__back", id="go-back2") Вернуться к заказу
					.col-lg-2
				.row
					.info-text__center
						|Ищите холодильник в рассрочку? Покупайте на Юлмарте, выбирайте из большого количества предложений.
						br
						|Найдите свой холодильник и получите его в рассрочку!
		
		section.info
			.container
				.row
					//- .info-text
					//- 	|Если вы хотите долго гнать велосипед, и не только в полях, а, скажем и в других красивых и диких местах, важно основательно подойти к выбору подходящей модификации. Да и простой велик для города должен соответствовать вашим личным требованиям и ожиданиям. Часто бывает так, что стоимость типовой модели, продающейся в обычных гипермаркетах, очень привлекательна, но требуется потратить еще не мало средств на оснащение двухколесного друга. А иногда хочется чего-то большего, приобрести модель известного бренда или настоящий веловнедорожник. Что делать если цена кусается, а приключения зовут? Решение есть: купить велосипед в рассрочку по акции на 
					//- 	a(href="https://www.ulmart.ru/", target="_blank", class="info-text__link") ulmart.ru. 
					//- .info-text
					//- 	|Покупая велосипеды в рассрочку не ограничивайте свой выбор определенной моделью или диапазоном цен, вы можете купить в рассрочку велик, о котором всегда мечтали: горный, городской универсальный, шоссейный или любой другой. Еще не думали про складные модели? Они всегда есть в каталоге нашего интернет-магазина. А если желающих участвовать в велопробегах целая семья можно купить велики в рассрочку для всех!
					//- .info-text
					//- 	|Чтобы покупка велосипеда в рассрочку была выгодной со всех сторон нужно внимательно отнестись к выбору именно «вашей» и подходящей комплектации.
					//- .info-title
					//- 	|Обратите внимание на базовые характеристики:
					//- ol.info-list
					//- 	li.info-item Количество доступных скоростей;
					//- 	li.info-item Размер рамы;
					//- 	li.info-item Исполнение тормозной системы (дисковая или ободная);
					//- 	li.info-item Количество амортизаторов (1 или 2);
					//- 	li.info-item Диаметр колёс;
					//- .info-text
					//- 	|Если у вас возникнут какие-либо вопросы или сложности с выбором – обращайтесь к нашим консультантам. Мы всегда готовы помочь с оформлением покупки и подбором оптимального варианта велосипеда, исходя из ваших пожеланий.
					//- .info-text
					//- 	|Удачных покупок!

		//- .hidden-wrap
		//- 	.container
		//- 		.row
		//- 			.hidden-wrap__btn Показать ещё
				//- .info-btn-wrapper
				//- 	.row
				//- 		.col-lg-3.col-md-3.col-sm-6.col-xs-12
				//- 			a(href="#", target="_blank", class="info-link") Телевизор в рассрочку
				//- 		.col-lg-3.col-md-3.col-sm-6.col-xs-12
				//- 			a(href="#", target="_blank", class="info-link") Компьютер в рассрочку
				//- 		.col-lg-3.col-md-3.col-sm-6.col-xs-12
				//- 			a(href="#", target="_blank", class="info-link") Стиральная машина в рассрочку
				//- 		.col-lg-3.col-md-3.col-sm-6.col-xs-12
				//- 			a(href="#", target="_blank", class="info-link") Велосипед в рассрочку


		
			
	+footer-text()


include blocks/footer-service/footer-service
