include blocks/head-service/head
include common/mixins.jade

body
	.layout_center_wrapper-project
		+top-line()
		+top-banner()
		//- section.issue__section
			.container
				.row
					h2.issue__title
						|Оформить рассрочку
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.issue__item
							.issue__item__img
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/issue1.png", alt="оформление")
							.issue__item__title
								|удобно
							.issue__item__text
								|Введите промокод&nbsp;
								span 006
								br
								|&nbsp;на этапе оформления заказа
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.issue__item
							.issue__item__img
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/issue2.png", alt="оформление")
							.issue__item__title
								|быстро
							.issue__item__text
								|Узнаёте о решение банка 
								br
								|уже в течение 1&nbsp;часа 
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.issue__item
							.issue__item__img
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/issue3.png", alt="оформление")
							.issue__item__title
								|выгодно
							.issue__item__text
								|Рассрочка на 6&nbsp;месяцев 
								br
								|без процентов и переплат
		section.make__section
			h2.make__title
				|Как купить пылесос по акции 
			.tabbed
				.container
					.row
						.col-lg-2.col-lg-offset-4.col-md-5.col-md-offset-1.col-sm-6.col-xs-12.np
							.tabbed__wrap
								input#tab-nav-1(type='radio', name='tabs')
								label(for='tab-nav-1') ОФЛАЙН
						.col-lg-2.col-md-5.col-sm-6.col-xs-12.np
							.tabbed__wrap
								input#tab-nav-2(type='radio', name='tabs', checked='')
								label(for='tab-nav-2') ОНЛАЙН
							
		+tab-online()
		+tab-offline()
		//- .btn__wrapper
		//- 	.container
		//- 		.row
		//- 			.col-lg-2
		//- 			.col-lg-4.col-md-6.col-sm-6.col-xs-12
		//- 				a(href="https://fast.ulmart.ru/ns/verstka/rassrochka/full_terms.pdf", target="_blank", class="btn__full") Полные условия акции
		//- 			.col-lg-4.col-md-6.col-sm-6.col-xs-12
		//- 				a(href="#", target="_blank", class="btn__back", id="#go-back") Вернуться к заказу
		//- 			.col-lg-2
		section.section__goods
			.container
				.row
					h2.products__title
						|Лучшие модели пылесосов
					+grid-4()
						each item, number in dataPylesosy.slice(0,1)
							+goods-pylesosy(item)
					+grid-4()
						each item, number in dataPylesosy.slice(1,2)
							+goods-pylesosy(item)
					+grid-4()
						each item, number in dataPylesosy.slice(2,3)
							+goods-pylesosy(item)
					+grid-4()
						each item, number in dataPylesosy.slice(3,4)
							+goods-pylesosy(item)
					+grid-4()
						each item, number in dataPylesosy.slice(4,5)
							+goods-pylesosy(item)
					+grid-4()
						each item, number in dataPylesosy.slice(5,6)
							+goods-pylesosy(item)
					+grid-4()
						each item, number in dataPylesosy.slice(6,7)
							+goods-pylesosy(item)
		.btn__wrapper
			.container
				.row
					.col-lg-2
					.col-lg-4.col-md-6.col-sm-6.col-xs-12
						a(href="http://www.ulmart.ru/Kredit_006", target="_blank", class="btn__full") Посмотреть все товары
					.col-lg-4.col-md-6.col-sm-6.col-xs-12
						a(href="#", target="_blank", class="btn__back", id="go-back2") Вернуться к заказу
					.col-lg-2
				.row
					.info-text__center
						|Ищете пылесос в рассрочку? Покупайте в Юлмарте — выбирайте из большого количества предложений.
						br
						|Найдите свой пылесос и получите его в рассрочку!
		
		section.info
			.container
				.row
					.info-title
						|Пылесосы в рассрочку
					.info-text
						|Одним из самых незаменимых и надежных помощников при уборке дома или автомобиля является пылесос. В интернет-магазине Ulmart.ru можно купить пылесос в рассрочку от лучших мировых производителей. На сайте компании в разделе каталог представлен большой выбор моделей, отличающихся различным набором функций, оснащению, мощности. 
					.info-title
						|Возможности выбора
					.info-text
						|Услуга пылесос в рассрочку позволяет российским потребителям получить на выгодных условиях качественную технику с отличными характеристиками. В зависимости от индивидуальных предпочтений можно оформить модель с подходящими системами сбора пыли:
					ol.info-list
						li.info-item Контейнерами;
						li.info-item Мешками-пылесборниками;
						li.info-item Аквафильтром.
					.info-text
						|При недостатке свободного времени можно купить робот пылесос в рассрочку, который самостоятельно наведет чистоту и порядок в доме. Встроенные в конструкцию сенсоры ориентируют «интеллектуальный» прибор на обхождение препятствий. Наличие нескольких режимов работы гарантируют высокое качество уборки.
					.info-text
						|Автолюбители выбирают портативные безмешковые устройства для уборки салона транспортного средства. Модели отличаются небольшим весом и компактными размерами.
					.info-title
						|Преимущества услуги
					.info-text
						|Интернет-магазин Ulmart.ru широкий спектр услуг и товаров недорого. По отзывам клиентов компании можно узнать сильные и слабые стороны различных моделей, оценить качество обслуживания. Понравившуюся модель можно купить в кредит без переплат, оформив покупку с рассрочкой платежей сроком до полугода. Опытные менеджеры фирмы помогут определиться с выбором, расскажут об условиях акции.
					.info-text
						|На сайте компании можно заказать моющий или робот пылесос в рассрочку на выгодных условиях. Сделать это очень просто, пошаговая инструкция позволяет самостоятельно выполнить все этапы. Выбрав подходящий вариант модели со значком «Кредит без переплат» отмечаем услугу «Самовывоз». В заключении следует ввести промокод для утверждения заказа. Сотрудники банка позвонят по телефону, указанному к заявке, для заполнения анкеты. Воспользоваться выгодным предложением можно уже сегодня. Спешите приобрести важный инструмент для чистоты и комфорта дома.
					.info-text
						|Удачных покупок!

		.hidden-wrap
			.container
				.row
					.hidden-wrap__btn Показать ещё
				.info-btn-wrapper
				//- 	.row
				//- 		.col-lg-3.col-md-3.col-sm-6.col-xs-12
				//- 			a(href="#", target="_blank", class="info-link") Телевизор в рассрочку
				//- 		.col-lg-3.col-md-3.col-sm-6.col-xs-12
				//- 			a(href="#", target="_blank", class="info-link") Компьютер в рассрочку
				//- 		.col-lg-3.col-md-3.col-sm-6.col-xs-12
				//- 			a(href="#", target="_blank", class="info-link") Стиральная машина в рассрочку
				//- 		.col-lg-3.col-md-3.col-sm-6.col-xs-12
				//- 			a(href="#", target="_blank", class="info-link") Велосипед в рассрочку


		
			
	+footer-text()


include blocks/footer-service/footer-service
