include blocks/head-service/head
include common/mixins.jade

body
	.layout_center_wrapper-project
		+top-line()
		+top-banner()
		//- section.issue__section
			.container
				.row
					h2.issue__title
						|Оформить рассрочку
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.issue__item
							.issue__item__img
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/issue1.png", alt="оформление")
							.issue__item__title
								|удобно
							.issue__item__text
								|Введите промокод&nbsp;
								span 006
								br
								|&nbsp;на этапе оформления заказа
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.issue__item
							.issue__item__img
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/issue2.png", alt="оформление")
							.issue__item__title
								|быстро
							.issue__item__text
								|Узнаёте о решение банка 
								br
								|уже в течение 1&nbsp;часа 
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.issue__item
							.issue__item__img
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/issue3.png", alt="оформление")
							.issue__item__title
								|выгодно
							.issue__item__text
								|Рассрочка на 6&nbsp;месяцев 
								br
								|без процентов и переплат
		section.make__section
			h2.make__title
				|Как купить компьютер в рассрочку
			.tabbed
				.container
					.row
						.col-lg-2.col-lg-offset-4.col-md-5.col-md-offset-1.col-sm-6.col-xs-12.np
							.tabbed__wrap
								input#tab-nav-1(type='radio', name='tabs')
								label(for='tab-nav-1') ОФЛАЙН
						.col-lg-2.col-md-5.col-sm-6.col-xs-12.np
							.tabbed__wrap
								input#tab-nav-2(type='radio', name='tabs', checked='')
								label(for='tab-nav-2') ОНЛАЙН
							
		.tabs__wrapper.tabs__wrapper__online
			.container
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item--mod
							.tabs__item__img
								|1
							.tabs__item__text
								b Выберите компьютер со значком
								br
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/credit-bablze.png", alt="")
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item--mod
							.tabs__item__img
								|2
							.tabs__item__text
								b Выберите «Самовывоз»
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item
							.tabs__item__img
								|3
							.tabs__item__text
								b Введите промокод 
								span 006&nbsp;
								br
								|на этапе подтверждения заказа и дождитесь звонка банка для заполнения анкеты по телефону.
				.text__info
					|Проверьте, пожалуйста, актуальность телефона, указанного 
					br
					|в 
					a(href="https://www.ulmart.ru/login", target="_blank", class="text__info--link") личном кабинете
					|, иначе мы не сможем с вами связаться.
				.row
					.col-lg-3.col-lg-offset-3.col-md-6.col-sm-6.col-xs-12.nm
						a(href="https://fast.ulmart.ru/ns/verstka/rassrochka/full_terms.pdf", target="_blank", class="btn__full") Полные условия акции
					.col-lg-3.col-md-6.col-sm-6.col-xs-12.nm
						a(href="#", target="_blank", class="btn__back", id="#go-back") Вернуться к заказу
			.screen
				span x
		.tabs__wrapper.tabs__wrapper__offline
			.container
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item--mod
							.tabs__item__img
								|1
							.tabs__item__text
								b Оформите заказ на товар, отмеченный значком 
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/credit-bablze.png", alt="")
								br
								|и распечатайте чек на оплату.
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item--mod
							.tabs__item__img
								|2
							.tabs__item__text
								b Подайте заявку в кредитном отделе 
								br
								|(подать заявку можно в кредитном отделе центра исполнения заказов Юлмарт (ЦИЗ), при себе необходимо иметь паспорт).
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item
							.tabs__item__img
								|3
							.tabs__item__text
								b Забирайте покупку.
				.row
					.row
					.col-lg-3.col-lg-offset-3.col-md-6.col-sm-6.col-xs-12
						a(href="https://fast.ulmart.ru/ns/verstka/rassrochka/full_terms.pdf", target="_blank", class="btn__full") Полные условия акции
					.col-lg-3.col-md-6.col-sm-6.col-xs-12
						a(href="#", target="_blank", class="btn__back", id="#go-back") Вернуться к заказу
		//- .btn__wrapper
		//- 	.container
		//- 		.row
		//- 			.col-lg-2
		//- 			.col-lg-4.col-md-6.col-sm-6.col-xs-12
		//- 				a(href="https://fast.ulmart.ru/ns/verstka/rassrochka/full_terms.pdf", target="_blank", class="btn__full") Полные условия акции
		//- 			.col-lg-4.col-md-6.col-sm-6.col-xs-12
		//- 				a(href="#", target="_blank", class="btn__back", id="#go-back") Вернуться к заказу
		//- 			.col-lg-2
		section.section__goods
			.container
				.row
					h2.products__title
						|Лучшие модели компьютеров в рассрочку
					+grid-4()
						each item, number in dataPC.slice(0,1)
							+goods-pc(item)
					+grid-4()
						each item, number in dataPC.slice(1,2)
							+goods-pc(item)
					+grid-4()
						each item, number in dataPC.slice(2,3)
							+goods-pc(item)
					+grid-4()
						each item, number in dataPC.slice(3,4)
							+goods-pc(item)
					+grid-4()
						each item, number in dataPC.slice(4,5)
							+goods-pc(item)
					+grid-4()
						each item, number in dataPC.slice(5,6)
							+goods-pc(item)
					+grid-4()
						each item, number in dataPC.slice(6,7)
							+goods-pc(item)
		.btn__wrapper
			.container
				.row
					.col-lg-2
					.col-lg-4.col-md-6.col-sm-6.col-xs-12
						a(href="http://www.ulmart.ru/Kredit_006", target="_blank", class="btn__full") Посмотреть все товары
					.col-lg-4.col-md-6.col-sm-6.col-xs-12
						a(href="#", target="_blank", class="btn__back", id="go-back2") Вернуться к заказу
					.col-lg-2
				.row
					.info-text__center
						|Ищете компьютер в рассрочку? Покупайте в Юлмарте — выбирайте из большого количества предложений.
						br
						|Найдите свой ПК и получите его в рассрочку!
		
		section.info
			.container
				.row
					.info-title
						|Покупка компьютера в рассрочку
					.info-text
						|Современному человеку не обойтись без компьютера. Увлекательные игры, просмотр сайтов, работа, учеба… Чем заняться, решать, конечно же, вам. А купить компьютер в рассрочку можно в нашем интернет-магазине. 
					.info-text
						|Покупая новый компьютер, хочется выбрать наиболее современную модель, но часто ее цена достаточно велика. Однако не стоит ограничивать себя и откладывать важное приобретение. Купить компьютер в рассрочку – лучший выход из ситуации. К тому же вам не придется длительное время копить деньги, вы сможете сразу наслаждаться работой на новеньком современном ПК.  
					.info-title
						|Преимущества покупки ПК в рассрочку в нашем интернет-магазине: 
					ol.info-list
						li.info-item Огромный ассортимент товара;
						li.info-item Привлекательные цены на все модели компьютеров;
						li.info-item Выгодные условия оформления рассрочки;
						li.info-item Быстрота оформления покупки;
					.info-text
						|Вы можете купить игровой компьютер в рассрочку с наиболее современными комплектующими, а можете подобрать более бюджетный вариант, если вам необходимо устройство для работы или учебы.
					.info-text
						|В дальнейшем вы сможете без проблем выплачивать указанную сумму и с удовольствием пользоваться приобретением. 
					.info-text
						|Удачных покупок!

		.hidden-wrap
			.container
				.row
					.hidden-wrap__btn Показать ещё
				//- .info-btn-wrapper
				//- 	.row
				//- 		.col-lg-3.col-md-3.col-sm-6.col-xs-12
				//- 			a(href="#", target="_blank", class="info-link") Телевизор в рассрочку
				//- 		.col-lg-3.col-md-3.col-sm-6.col-xs-12
				//- 			a(href="#", target="_blank", class="info-link") Компьютер в рассрочку
				//- 		.col-lg-3.col-md-3.col-sm-6.col-xs-12
				//- 			a(href="#", target="_blank", class="info-link") Стиральная машина в рассрочку
				//- 		.col-lg-3.col-md-3.col-sm-6.col-xs-12
				//- 			a(href="#", target="_blank", class="info-link") Велосипед в рассрочку


		
			
	+footer-text()


include blocks/footer-service/footer-service
