include blocks/head-service/head
include common/mixins.jade

body
	.layout_center_wrapper-project
		+top-line()
		+top-banner()
		//- section.issue__section
			.container
				.row
					h2.issue__title
						|Оформить рассрочку
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.issue__item
							.issue__item__img
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/issue1.png", alt="оформление")
							.issue__item__title
								|удобно
							.issue__item__text
								|Введите промокод&nbsp;
								span 006
								br
								|&nbsp;на этапе оформления заказа
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.issue__item
							.issue__item__img
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/issue2.png", alt="оформление")
							.issue__item__title
								|быстро
							.issue__item__text
								|Узнаёте о решение банка 
								br
								|уже в течение 1&nbsp;часа 
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.issue__item
							.issue__item__img
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/issue3.png", alt="оформление")
							.issue__item__title
								|выгодно
							.issue__item__text
								|Рассрочка на 6&nbsp;месяцев 
								br
								|без процентов и переплат
		section.make__section
			h2.make__title
				|Как купить стиральную машину в рассрочку
			.tabbed
				.container
					.row
						.col-lg-2.col-lg-offset-4.col-md-5.col-md-offset-1.col-sm-6.col-xs-12.np
							.tabbed__wrap
								input#tab-nav-1(type='radio', name='tabs')
								label(for='tab-nav-1') ОФФЛАЙН
						.col-lg-2.col-md-5.col-sm-6.col-xs-12.np
							.tabbed__wrap
								input#tab-nav-2(type='radio', name='tabs', checked='')
								label(for='tab-nav-2') ОНЛАЙН
							
		.tabs__wrapper.tabs__wrapper__online
			.container
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item--mod
							.tabs__item__img
								|1
							.tabs__item__text
								b Выберите стиральную машину со значком рассрочки
								br
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/credit-bablze.png", alt="")
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item--mod
							.tabs__item__img
								|2
							.tabs__item__text
								b Выберите «Самовывоз»
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item
							.tabs__item__img
								|3
							.tabs__item__text
								b Введите промокод 
								span 006&nbsp;
								br
								|на этапе подтверждения заказа и дождитесь звонка банка для заполнения анкеты по телефону.
				.text__info
					|Проверьте, пожалуйста, актуальность телефона, указанного 
					br
					|в 
					a(href="https://www.ulmart.ru/login", target="_blank", class="text__info--link") личном кабинете
					|, иначе мы не сможем с вами связаться.
				.row
					.col-lg-3.col-lg-offset-3.col-md-6.col-sm-6.col-xs-12.nm
						a(href="https://fast.ulmart.ru/ns/verstka/rassrochka/full_terms.pdf", target="_blank", class="btn__full") Полные условия акции
					.col-lg-3.col-md-6.col-sm-6.col-xs-12.nm
						a(href="#", target="_blank", class="btn__back", id="#go-back") Вернуться к заказу
			.screen
				span x
		.tabs__wrapper.tabs__wrapper__offline
			.container
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item--mod
							.tabs__item__img
								|1
							.tabs__item__text
								b Оформите заказ на товар, отмеченный значком 
								img(src="https://fast.ulmart.ru/ns/verstka/installment_promo/img/credit-bablze.png", alt="")
								br
								|и распечатайте чек на оплату.
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item.tabs__item--mod
							.tabs__item__img
								|2
							.tabs__item__text
								b Подайте заявку в кредитном отделе 
								br
								|(подать заявку можно в кредитном отделе центра исполнения заказов Юлмарт (ЦИЗ), при себе необходимо иметь паспорт).
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.tabs__item
							.tabs__item__img
								|3
							.tabs__item__text
								b Забирайте покупку.
				.row
					.row
					.col-lg-3.col-lg-offset-3.col-md-6.col-sm-6.col-xs-12
						a(href="https://fast.ulmart.ru/ns/verstka/rassrochka/full_terms.pdf", target="_blank", class="btn__full") Полные условия акции
					.col-lg-3.col-md-6.col-sm-6.col-xs-12
						a(href="#", target="_blank", class="btn__back", id="#go-back") Вернуться к заказу
		//- .btn__wrapper
		//- 	.container
		//- 		.row
		//- 			.col-lg-2
		//- 			.col-lg-4.col-md-6.col-sm-6.col-xs-12
		//- 				a(href="https://fast.ulmart.ru/ns/verstka/rassrochka/full_terms.pdf", target="_blank", class="btn__full") Полные условия акции
		//- 			.col-lg-4.col-md-6.col-sm-6.col-xs-12
		//- 				a(href="#", target="_blank", class="btn__back", id="#go-back") Вернуться к заказу
		//- 			.col-lg-2
		section.section__goods
			.container
				.row
					h2.products__title
						|Лучшие модели стиральных машин в рассрочку
					+grid-4()
						each item, number in dataSTIR.slice(0,1)
							+goods-stir(item)
					+grid-4()
						each item, number in dataSTIR.slice(1,2)
							+goods-stir(item)
					+grid-4()
						each item, number in dataSTIR.slice(2,3)
							+goods-stir(item)
					+grid-4()
						each item, number in dataSTIR.slice(3,4)
							+goods-stir(item)
					+grid-4()
						each item, number in dataSTIR.slice(4,5)
							+goods-stir(item)
					+grid-4()
						each item, number in dataSTIR.slice(5,6)
							+goods-stir(item)
					+grid-4()
						each item, number in dataSTIR.slice(6,7)
							+goods-stir(item)
		.btn__wrapper
			.container
				.row
					.col-lg-2
					.col-lg-4.col-md-6.col-sm-6.col-xs-12
						a(href="http://www.ulmart.ru/Kredit_006", target="_blank", class="btn__full") Посмотреть все товары
					.col-lg-4.col-md-6.col-sm-6.col-xs-12
						a(href="#", target="_blank", class="btn__back", id="go-back2") Вернуться к заказу
					.col-lg-2
				.row
					.info-text__center
						|Ищете стиральную машину в рассрочку? Покупайте на Юлмарте, выбирайте из большого количества предложений. 
						br
						|Найдите свою стиральную машину и получите её в рассрочку!
		
		section.info
			.container
				.row
					.info-text
						|Покупка стиральной машины в рассрочку – отличная возможность стать обладателем бытовой техники с минимальной нагрузкой на бюджет. Магазины практикуют такой метод продаж, исходя из реальных условий. Машинки автомат в рассрочку предлагаются на тех же условиях, что и для стандартных ситуаций. На приборы предоставляется гарантия, услуги доставки, установки, подключения. Удобно и выгодно приобретать товар с поэтапным погашением стоимости, потому что:
					ol.info-list
						li.info-item Не нужно копить, испытывать дискомфорт в отсутствии необходимого в быту оборудования;
						li.info-item Оформление покупки происходит быстро, без лишней волокиты;
						li.info-item График платежей составляется с учетом возможностей клиента;
						li.info-item Для погашения задолженности предлагаются несколько способов на выбор;
					.info-text
						b Как выбрать и купить стиральную машину:
					.info-text
						|При выборе бытовых приборов ориентируйтесь на собственные предпочтения, учитывайте потребности семьи. В категории товаров, доступных для приобретения с поэтапной оплатой, вы обязательно найдете машинку автомат, которую давно искали. Для небольших пространств подходит компактная техника. Для большой семьи стоит купить модель с загрузкой 6-8 кг, мощную. В продаже есть техника автомат со встроенными программами стирки детского белья, что очень удобно для мам и пап, у которых подрастают малыши. Если у вас нет места, где можно повесить белье, купите стиральную машинку в рассрочку с отжимом 1200-1600 об/мин. Она выдает практически сухие вещи.
					.info-text
						|Удачных покупок!

		.hidden-wrap
			.container
				.row
					.hidden-wrap__btn Показать ещё
				//- .info-btn-wrapper
				//- 	.row
				//- 		.col-lg-3.col-md-3.col-sm-6.col-xs-12
				//- 			a(href="#", target="_blank", class="info-link") Телевизор в рассрочку
				//- 		.col-lg-3.col-md-3.col-sm-6.col-xs-12
				//- 			a(href="#", target="_blank", class="info-link") Компьютер в рассрочку
				//- 		.col-lg-3.col-md-3.col-sm-6.col-xs-12
				//- 			a(href="#", target="_blank", class="info-link") Стиральная машина в рассрочку
				//- 		.col-lg-3.col-md-3.col-sm-6.col-xs-12
				//- 			a(href="#", target="_blank", class="info-link") Велосипед в рассрочку


		
			
	+footer-text()


include blocks/footer-service/footer-service
